@import 'helpers/mixins';
@import 'helpers/fonts';
@import 'helpers/variables';

.about {
    width: 100%;
    height: auto;
    
    @include small {
        padding: 0 15px;
    }

    @include large {
        padding: 0px 85px;
        display: flex;
    }

    @include medium {
        padding: 0 30px;
    }
}

.about__blocTitle {
    width: 100%;
    text-align: center;

    @include large {
        flex-wrap: wrap;
        width: 69%;
        margin: 15px 130px;
    }
}

.about__wrapper {
    display: flex;
    align-items: center;

    @include medium {
        display: flex;
        align-items: center;
    }

    @include large {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
}

.about__titleSquare {
    @include square(#FFE36D);
}

.about__mainTitle {
    @include mainTitle;
    
    @include large {
        width: 100%;
        margin-right: 25px;
    }
}

.about__desc {

    @include small {
        margin-top: 35px;
    }

    @include medium {
        margin-top: 50px;
        line-height: 42px;
    }

    @include large {
        font-size: 20px;
        text-align: right;
        margin-top: 45px;
        margin: 45px 0;
        line-height: 30px;
    }

}

.about__player {
    display: flex;
    align-items: center;

    @include large {
        flex-direction: row-reverse;
        width: 100%;
    }
}

.about__link {
    color: $black;
    font-family: 'Futura Md BT';

    @include small {
        font-size: 15px;
        margin: 25px;
    }

    @include medium {
        font-size: 30px;
        margin: 40px 25px;
    }

    @include large {
        font-size: 15px;
        margin: 130px 0;
    }
}

.about__iconLink {
    width: 100%;

    @include small {
        max-width: 14px;
        margin-left: 15px;
    }

    @include medium {
        max-width: 30px;
        margin-right: 20px;
    }

    & img {
        width: 100%;

        @include large {
            max-width: 20px;
        }
    }
}

.about__blocImage {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    @include medium {
        flex-direction: row-reverse;
    }

    @include large {
        flex-direction: row;
    }

    & img {
        width: 100%;
    }

}
.about__item--visible {
    display: block;

    @include small {
        display: none;
    }

    @include large {
        display: none;
    }
}

.about__item--hidden {
    @include small {
        display: none;
    }

    @include medium {
        display: none;
    }

    @include large {
        display: block;
    }

}