<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Misen</title>
  </head>
  <body>
  //- Start of wrapper 
  <div class="wrapper">
  <header class="header">
  include ../menu/menu.pug

  <div class="header__mainImage"></div>

  <div class="header__blocTitle">
    <span class="header__titleSquare"></span>
    <h1 class="header__mainTitle">Essentials Knife Set</h1>
    <p class="header__titleDesc">Maximum versatility, minimum counter space.</p>
  <div>

  <div class="header__scroll">
    <span class="header__scrollAnimate"></span>
  </div>
  </header>