<section class="tutorial">
<div class="tutorial__blocTitle">
    <span class="tutorial__titleSquare"></span>
    <h1 class="tutorial__mainTitle">Some expert advice</h1>
</div>

<p>Improve with the advice of our experts.</p>

<a href="#" class="tutorial__link">More</a>

<div class="tutorial__card">
    <div class="tutorial__cardImage">
      img(src=require("../../img/tutorial/img-1-section-4.png") alt="tutorial-1")
    </div>

    <div class="tutorial__cardText">
        <h1>Smarter Food Choices</h1>
        <p>Selecting the cookware for your kitchen implies a few certain points you should consider: budget, cooking and eating habits, your family size, etc.</p>

        <div class="tutorial__cardLink">
            <a href="#">See the tutorial</a>
            <div>
              img(src=require("../../img/tutorial/icon-learn.svg") alt="Icon learn")
            </div>
        </div>

    </div>
</div>

<div class="tutorial__card">
    <div class="tutorial__cardImage">
      img(src=require("../../img/tutorial/img-1-section-4.png") alt="tutorial-1")
    </div>

    <div class="tutorial__cardText">
        <h1>Smarter Food Choices</h1>
        <p>Selecting the cookware for your kitchen implies a few certain points you should consider: budget, cooking and eating habits, your family size, etc.</p>

        <div class="tutorial__cardLink">
            <a href="#">See the tutorial</a>
            <div>
              img(src=require("../../img/tutorial/icon-learn.svg") alt="Icon learn")
            </div>
        </div>

    </div>
</div>

<div class="tutorial__bullet--slider">
    <span class="active"></span>
    <span></span>
    <span></span>
</div>
</section>