<footer class="footer">

  <div class="footer__blocTitle">
    <h1 class="footer__mainTitle">Subscribe FOR DELICIOUS NEWS</h1>
    <p class="footer__titleDesc">Receive free news</p>
  <div>

  <form class="footer__mail">
    <input type="email" placeholder="Enter your mail"/>

    <div>
      img(src=require("../../img/footer/icon-send.svg") alt="Icon Send")
    </div>
  </form>

<div class="footer__wrapper">
<div class="footer__large">
  <ul class="footer__item">
    <a href="#"><li><b>Connect</b></li></a>
    <a href="#"><li>Facebook</li></a>
    <a href="#"><li>Instagram</li></a>
    <a href="#"><li>Twitter</li></a>
  </ul>

  <ul class="footer__item">
    <a href="#"><li><b>Explore</b></li></a>
    <a href="#"><li>Shop</li></a>
    <a href="#"><li>About us</li></a>
  </ul>

  <ul class="footer__item">
    <a href="#"><li><b>Support</b></li></a>
    <a href="#"><li>Faq</li></a>
    <a href="#"><li>Privacy</li></a>
    <a href="#"><li>Terms</li></a>
  </ul>

  <ul class="footer__item">
    <a href="#"><li><b>Partners</b></li></a>
    <a href="#"><li>Food52</li></a>
    <a href="#"><li>Kickstarter</li></a>
    <a href="#"><li>Serious eats</li></a>
  </ul>

</div>

<div class="footer__logo--large">
    img(src=require("../../img/footer/logo-misen-footer.png") alt="Logo Misen")
</div>

</div>

<div class="footer__logo">
  img(src=require("../../img/footer/logo-misen-footer.png") alt="Logo Misen")
</div>

  <hr>

  <span class="footer__copyright">2017 Misen Inc. All rights reserved.</span>

</footer>
</body>
</html>