<footer class="footer">

  <div class="footer__blocTitle">
    <h1 class="footer__mainTitle">Subscribe FOR DELICIOUS NEWS</h1>
    <p class="footer__titleDesc">Receive free news</p>
  <div>

  <form class="footer__mail">
    <input type="email" placeholder="Enter your mail"/>

    <div>
      img(src=require("../../img/footer/icon-send.svg") alt="Icon Send")
    </div>
  </form>


<div class="footer__logo">
  img(src=require("../../img/footer/logo-misen-footer.png") alt="Logo Misen")
</div>

  <hr>

  <span class="footer__copyright">2017 Misen Inc. All rights reserved.</span>

</footer>
</body>
</html>