<section class="about">
 <div class="about__blocTitle">

 <div class="about__wrapper">
    <span class="about__titleSquare"></span>
    <h1 class="about__mainTitle">A little about us</h1>
 </div>

    <p class="about__desc">Our name comes from ‘mise en place’ — a culinary term that means “to put in place.” Chefs use the term to describe the process of setting up their stations before service. Misen is an ode to mise en place; better cooking through proper preparation with quality tools.
    </p>

    <div class="about__player">
        <a class="about__link" href="#">Watch video</a>

        <div class="about__iconLink">
          img(src=require("../../img/about/icon-play.svg") alt="Icon play")
        </div>
    </div>

 </div>


<div class="about__blocImage">

    <div class="about__item--visible">
        img(src=require("../../img/about/couteau-1.png") alt="Couteau")
    </div>

    <div class="about__item--hidden">
        img(src=require("../../img/about/big-couteau.png") alt="Couteau")
    </div>

    <div>
        img(src=require("../../img/about/couteau-2.png") alt="Couteau")
    </div>

</div>

</section>
