<section class="about">
 <div class="about__blocTitle">
    <span class="about__titleSquare"></span>
    <h1 class="about__mainTitle">A LITTLE BIT ABOUT US</h1>
 </div>

 <p class="about__desc">Our name comes from ‘mise en place’ — a culinary term that means “to put in place.” Chefs use the term to describe the process of setting up their stations before service. Misen is an ode to mise en place; better cooking through proper preparation with quality tools.
 </p>

<div class="about__player">
    <a href="#" class="about__link">Watch video</a>

    <div class="about__iconLink">
      img(src=require("../../img/about/icon-play.png") alt="Icon play")
    </div>
</div>

<div class="about__image">
  img(src=require("../../img/about/couteau-1.png") alt="Couteau 1")
</div>

</section>
