@import 'helpers/media';
@import 'helpers/variables';
@import 'helpers/fonts';

.menu {
    width: 100%;
    height: 66px;
    position: fixed;
    background: $white;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,0.10);
    z-index: 2;
}

.menu__large {
    display: none;
    height: 66px;

    @include large {
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
    }
}

.menu__listLarge-item {
    @include large {
        color: $black;
        text-decoration: none;
        font-size: 15px;

        &:hover {
            text-decoration:line-through;
        }
    }
}


.menu__listLarge {    
    @include large {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-between;
        font-family: 'Futura Md BT';
    }
}

.menu__largeLogo {
    @include large {
        display: flex;
        align-items: center;
    }
}

.menu__largeCta {
    @include large {
        background: #55C14B;
        padding: 12px 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.menu__largeText {
   @include large {
        font-size: 15px;
        color: #ffff;
        margin-left: 0;
   }
}

.menu__header {
    display: flex;
    justify-content: space-between;

    & div {
        display: flex;
        align-items: center;
    }

    @include large {
        display: none;
    }
    
    & a {
        color: red;
    }

}

.menu__burgerIcon--open {
    cursor: pointer;
    margin-left: 15px;
    transition: 1s linear;
    transform: translateX(0);
    z-index: 3;
}

.menu__logo {
    transition: 1s linear;
    z-index: 3;
}

.menu__cta {
    width: 93px;
    height: 66px;
    background: #55C14B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: $white;
    cursor: pointer;
}

.menu__burgerContent {
    width: calc(100% - 93px);
    height: 100vh;
    background: $white;
    transform: translateX(-100%);
    transition: 1s ease-in;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,0.10);
}

.menu__nav {
    margin-left: 15px;
    font-family: 'Futura Md BT';

    & a {
        color: $black;
        text-decoration: none;
        font-size: 30px;
        width: 100%;

            &:hover {
                text-decoration:line-through;
            }
    }

    & li {
        list-style-type: none;
        margin-top: 50px;
    }
    
}

.menu__list {
    -webkit-appearance: none;
    appearance: none;

    width: 117px;
    border: none;
    background: url(../img/nav/arrow_down.png) no-repeat 100% center;
    color: $black;
    font-size: 14px;
    font-family: 'Futura Md BT';
    margin-top: 50px;
    margin-left: 15px;
    height: 34px;
}

.menu__list--hiden {
    display: none;
}

.menu__socialBar {
    width: 75%;
    display: flex;
    margin-top: 50px;

    & img {
        width: 38px;
        height: 38px;
        margin-left: 15px;
    }

}

.menu__copyright {
    margin-top: 25px;
    margin-left: 15px;
    display: block;
    font-size: 11px;
    font-family: 'Futura Md BT';
}