<nav class="menu">

  <div class="menu__header">
    <div class="menu__burgerIcon">
      img(src=require("../../img/nav/icon-menu.svg") alt="Burger Icon")
    </div>
    <div class="menu__logo">
      img(src=require("../../img/nav/logo.png") alt="Logo Misen")
    </div>
    <div class="menu__cta">
      <span class="icon-cart"></div>
    </div>

    <div class="menu__burgerContent">
      <p>Sub menu test</p>
    </div>
  </div>

</nav>