<nav class="navigation">

  <div class="navigation__header">
    <div class="navigation__header__burgerIcon">
      img(src=require("../../pages/img/nav/icon-menu.svg") alt="Burger Icon")
    </div>
    <div class="navigation__header__logo">
      img(src=require("../../pages/img/nav/logo.png") alt="Logo Misen")
    </div>
    <div class="navigation__header__cta">
      <span class="icon-cart"></div>
    </div>

    <div class="navigation__burgerContent">
      <p>Coucou</p>
    </div>
  </div>

</nav>