<nav class="navigation">
  <div class="navigation__burger">
        img(src=require("../../pages/img/nav/icon-menu.svg") alt="Menu Burger")
  </div>
  <div class="navigation__small">
      <ul>
          <a href=“#“><li>about us</li></a>
          <a href="#"><li>tutorial</li></a>
          <a href="#"><li>subscribe</li></a>
      </ul>
  </div>
  <div class="navigation__normal">
      <ul>
          <a href="#"><li>about us</li></a>
          <a href="#"><li>tutorial</li></a>
          <a href="#"><li>subscribe</li></a>
      </ul>
  </div>
    <div class="navigation__logo">
        img(src=require("../../pages/img/nav/logo.png") alt="Logo Misen")
    </div>
    <div class="navigation__ctaShop">
        <span class="icon-cart"></span>
    </div>
</nav>
