<div class="wrapper">
include ../partials/header/header.pug
include ../partials/about/about.pug
include ../partials/cook/cook.pug
include ../partials/tutorial/tutorial.pug
include ../partials/footer/footer.pug
</div>