@import 'blocs/header/header';
@import 'blocs/menu/menu';
@import 'blocs/about/about';
@import 'blocs/cook/cook';
@import 'blocs/tutorial/tutorial';
@import 'blocs/footer/footer';
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/media';
@import 'helpers/fonts';

* {
  box-sizing: border-box;
}

h1 {
    font-family: 'Futura Md BT';
    font-size: 20px;
}

p {
    font-family: 'Futura Md BT';
    
    @include small {
      font-size: 18px;
      text-align: left;
      margin-left: 25px;
      line-height: 27px;
    }

    @include medium {
      font-size: 28px;
      text-align: left;
      margin: 0 25px;
      line-height: 27px;
    }

    @include large {
      line-height: 42px;
    }
}

a {
  margin-left: 25px;
  color: $black;
}

section {
  margin: 66px auto;
  height: auto;
}

section h1 {
  font-family: 'Futura BdCn BT';
  margin-left: 15px;
}
