<section class="cook">

<div class="cook__hero">
  img(src=require("../../img/cook/img-1-section-3.png") alt="Philippe Etchebest")
</div>

<div class="cook__blocTitle">
    <span class="cook__titleSquare"></span>
    <h1 class="cook__mainTitle">Philippe Etchebest</h1>
    <p class="cook__desc">The famous French cook approves our products.</p>

    <div class="cook__player">
        <a href="#" class="cook__link">Read the article</a>
        <div class="cook__iconLink">
          img(src=require("../../img/cook/icon-right.svg") alt="Icon arrow")
        </div>
    </div>

</div>

</section>