@import 'helpers/mixins';
@import 'helpers/fonts';
@import 'helpers/variables';

.tutorial {
    width: 100%;
}

.tutorial__blocTitle {
    @include blocTitle;
}

.tutorial__titleSquare {
    @include square(#FF84CE);
}

.tutorial__mainTitle {
    @include mainTitle;
}

.tutorial__link {
    display: block;
    text-align: left;
    margin: 15px 25px;
    font-family: 'Futura Md BT';

    @include small {
        font-size: 15px;
        margin: 15px 25px;
    }

    @include medium {
        font-size: 30px;
        margin: 40px 25px;
    }
}

.tutorial__card {
    border-radius: 0 0 9px 9px;
    box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.1);
    // display: flex; @TODO Trouver pk ça pète toute la card

    @include small {
        width: 100%;
    }

    @include medium {
        width: 40%;
    }

    & .tutorial__cardImage {
        max-width: 100%;
    }

    & img {
        width: 100%;
        padding: 2px;
    }
}

.tutorial__cardText {
    & h1 {
        text-align: left;
        margin: 30px 25px;
    }

    & p {
        font-size: 14px;
        width: 80%;
    }
}

.tutorial__cardLink {
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;

    & a {
        font-family: 'Futura Md BT';
        font-size: 15px;
    }

    & img {
        margin-left: 10px;
        max-width: 42px;
        width: 100%;
    }
}

.tutorial__bullet--slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    & span {
        width: 10px;
        margin-left: 10px;
        height: 10px;
        border-radius: 60px;
        border: 1px solid #E7E7E7;
        cursor: pointer;
    }

    
    .active {
        background: #E7E7E7;
    }
}
