@import 'helpers/mixins';
@import 'helpers/fonts';
@import 'helpers/variables';

.tutorial {
    width: 100%;

    @include small {
        padding: 0 15px;
    }

    @include medium {
        padding: 0 30px;
    }

    @include large {
        padding: 0px 85px;
    }
}

.tutorial__wrapper {
    display: flex;
    align-items: center;

    @include medium {
        display: flex; 
        align-items: center;
        margin-bottom: 40px;
    }

    @include large {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
}

.tutorial__titleSquare {
    @include square(#FF84CE);
}

.tutorial__mainTitle {

    @include small {
        margin: 35px 15px;
    }

    @include medium {
        font-size: 40px;
        margin-left: 25px;
    }

    @include large {
        font-size: 20px;
    }
}

.tutorial__desc {
    @include small {
        margin-bottom: 35px;
    }

    @include medium {
        margin-left: 35px;
    }

    @include large {
        font-size: 20px;
        text-align: center;
    }
}

.tutorial__link {
    display: block;
    text-align: left;
    margin: 15px 25px;
    font-family: $futura-medium;

    @include small {
        font-size: 15px;
        margin: 35px 25px;
    }

    @include medium {
        font-size: 30px;
        margin: 40px 35px 60px 35px;
    }

    @include large {
        font-size: 15px;
        text-align: center;
    }
}

.tutorial__cardsLarge {
    @include small {
        display: none;
    }

    @include medium {
        display: none;
    }

    @include large {
        display: flex;
        justify-content: space-evenly;
    }
}

.tutorial__cards {
    display: flex;
    justify-content: space-around;

    @include small {
        flex-wrap: wrap;
    }
}

.tutorial__card {
    border-radius: 0 0 9px 9px;
    box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.1);
    
    @include small {
        width: 100%;
        margin-top: 15px;
    }

    @include medium {
        width: 48%;
    }

    @include large {
        display: none;
    }

    & img {
        width: 100%;
        padding: 2px;
    }
}

.tutorial__cardImage {
    max-width: 100%;

    @include medium {
        max-height: 200px;
        overflow: hidden;
    }
}

.tutorial__cardLink {
    @include small {
        display: flex;
        justify-content: left;
        margin: 20px 0;
    }
}

.tutorial__cardLink-icon {
    @include small {
        max-width: 24px;
        width: 100;
        margin-left: 15px;
    }
}

.tutorial__cardText-titre {
    margin: 30px 25px;

    @include medium {
        font-size: 25px;
    }

    @include large {
        text-align: left;
    }
}

.tutorial__cardText-desc {
    @include medium {
        font-size: 18px;
        line-heigt: 27px;
    }

    @include large {
        font-size: 14px;
        width: 80%;
    }
}

.tutorial__cardLink {
    @include medium {
        display: flex;
        margin: 30px 0;
    }
    
    & img {
        @include medium {
            width: 24px;
            margin-left: 15px;
        }
    }
}

.tutorial__cardLink-desc {
    @include medium {
        font-size: 20px;
        font-family: $futura-medium;
        line-height: 27px;
    }
}

.tutorial__bullet--slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
    .active {
        background: #E7E7E7;
    }
}

.tutorial__bullet--item {
    width: 10px;
    margin-left: 10px;
    height: 10px;
    border-radius: 60px;
    border: 1px solid #E7E7E7;
    cursor: pointer;
}
